.loginContainer{
    margin : auto ;
    padding: 20px;
    margin-top: 20px;
    background-color:rgb(56, 56, 58);
    border-radius: 12px ;
    width:90%;
    height:780px ;
    min-width:320px;
    min-height: 440px;
    color: white;
    overflow-y:auto;

}

.d-grid .btn-secondary{
    border-radius:"50px";   
    background-color: #FA8072;
    background-color: #4285F4;
    background-color:#29b1aa;
    background-color:#BA55D3;
}

.d-grid .btn-secondary:hover{
    background-color: #3c9efa;
    background-color:#4ac7c1;
    background-color:#cb60e6;
    box-shadow: none ;
}

.subcontainer{
    width: 60%;
    margin:auto;
    margin-top: 60px;
    color: white;

}

.login-form{
    border-radius: 5px;
    background-color: #5f5d5d !important;
    color: white !important;;

}

.login-form:focus{
    background-color: #5f5d5d;
    color: white;
    border-width:3px;
    border-radius: 5px;
    border-color: #cb60e6 !important;
    box-shadow: none !important;
    
}

.login-form::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;;
    opacity: 1; /* Firefox */
  }

